[submodule "inc/vulkan"]
	path = inc/vulkan
	url = https://github.com/KhronosGroup/Vulkan-Headers
[submodule "inc/vma"]
	path = inc/vma
	url = https://github.com/GPUOpen-LibrariesAndSDKs/VulkanMemoryAllocator
[submodule "inc/tinyobjloader"]
	path = inc/tinyobjloader
	url = https://github.com/tinyobjloader/tinyobjloader
[submodule "inc/sebib"]
	path = inc/sebib
	url = https://github.com/9291Sam/sebib
[submodule "inb/fmt"]
	path = inb/fmt
	url = https://github.com/fmtlib/fmt
[submodule "inc/fmt"]
	path = inc/fmt
	url = https://github.com/fmtlib/fmt
